.catalog {
  background-color: #f8f8f8;
  outline: 5px solid rgba(8, 0, 255, 0.8);
  outline-offset: -5px;
  padding-top: 50px;

  @media (min-width: @tablet-width) {
    padding-top: 80px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 100px;
  }
}

.catalog__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 50px 20px 30px 20px;
  display: flex;
  flex-direction: column;
  padding-top: 0;

  @media (min-width: @tablet-width) {
    width: 728px;
  }

  @media (min-width: @desktop-width) {
    width: 1360px;
    display: flex;
    flex-direction: row;
  }
}

.catalog__form-wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.catalog__form {
  display: block;

  @media (min-width: @tablet-width) {
    display: flex;
    padding-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.catalog__title {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-top: 4px;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 42px;
    line-height: 64px;
    font-weight: 700;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 40px;
  }
}

.catalog__form-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.catalog__form-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.catalog__form-fieldset-price,
.catalog__form-fieldset-milk,
.catalog__form-fieldset-country {
  border: none;
  outline: 5px solid rgba(94, 255, 0, 0.8);
  outline-offset: -5px;
  padding-left: 0;
}

.catalog__form-item {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  padding-top: 20px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.catalog__form-fieldset-milk {
  .control-mark {
    position: absolute;
    top: 2px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #7859cf;
  }

  .control-input[type="radio"]:checked + .control-mark::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    background-color: #7859cf;
    border: 2px solid #ffffff;
    border-radius: 50%;
    content: "";
  }

  .control-input:hover + .control-mark {
    background-color: #ffffff;
  }

  .control-label {
    line-height: 24px;
  }
}

.catalog__form-fieldset-country {
  .control-mark {
    position: absolute;
    top: 1px;
    left: 0;
    width: 42px;
    height: 24px;
    border-radius: 24px;
    background-color: #7859cf;
  }

  .control-input[type="radio"]:checked + .control-mark::before {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    content: "";
  }

  .control-input:hover + .control-mark {
    background-color: rgba(255, 255, 255, 0.6);
  }

  .control-label {
    line-height: 24px;
    padding-left: 16px;
  }
}

.catalog__form-buttons-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 36px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    width: 274px;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 44px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 40px;
  }
}

.catalog__form-reset-button {
  background-color: #ffffff;
  color: #7859cf;
}

.catalog__form-sorting-wrapper {
  outline: 5px solid rgba(255, 119, 0, 0.8);
  outline-offset: -5px;
  display: flex;
  justify-content: space-between;
}

.catalog__form-sorting-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.catalog-sorting-select-control {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #7859cf;
  display: flex;
  font-family: inherit;
}
