.catalog {
  background-color: #f8f8f8;
  outline: 5px solid rgba(8, 0, 255, 0.8);
  outline-offset: -5px;
}

.catalog__wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 728px;
  }

  @media (min-width: @desktop-width) {
    width: 1360px;
  }
}

.catalog__title {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-top: 4px;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 42px;
    line-height: 64px;
    font-weight: 700;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 40px;
  }
}

.catalog__form-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.catalog__form-fieldset-price,
.catalog__form-fieldset-milk,
.catalog__form-fieldset-country {
  border: none;
  outline: 5px solid rgba(94, 255, 0, 0.8);
  outline-offset: -5px;
}

.catalog__form-item {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}

.catalog__form-reset {
  background-color: #ffffff;
  color: #7859cf;
}

.catalog__form-sorting-wrapper {
  outline: 5px solid rgba(255, 119, 0, 0.8);
  outline-offset: -5px;
}

.catalog__form-sorting-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.catalog-sorting-select-control {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #7859cf;
}
