.catalog {
  background-color: #f8f8f8;
  outline: 5px solid rgba(8, 0, 255, 0.8);
  outline-offset: -5px;
}

.catalog__wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 728px;
  }

  @media (min-width: @desktop-width) {
    width: 1360px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.catalog__wrapper {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}

.catalog__form-wrapper {
  display: block;

  @media (min-width: @tablet-width) {
    display: flex;
    padding-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.catalog__title {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-top: 4px;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    font-size: 42px;
    line-height: 64px;
    font-weight: 700;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 40px;
  }
}

.catalog__form-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.catalog__form-fieldset-price,
.catalog__form-fieldset-milk,
.catalog__form-fieldset-country {
  border: none;
  outline: 5px solid rgba(94, 255, 0, 0.8);
  outline-offset: -5px;
}

.catalog__form-item {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  padding-top: 20px;
}

.catalog__form-buttons-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    width: 274px;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 44px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 40px;
  }
}

.catalog__form-reset-button {
  background-color: #ffffff;
  color: #7859cf;
}

.catalog__form-sorting-wrapper {
  outline: 5px solid rgba(255, 119, 0, 0.8);
  outline-offset: -5px;
  display: flex;
  justify-content: space-between;
}

.catalog__form-sorting-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.catalog-sorting-select-control {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #7859cf;
  display: flex;
  font-family: inherit;
}
