.footer {
  outline: 5px solid rgba(255, 0, 0, 0.8);
  outline-offset: -5px;
}

.footer__wrapper {
  width: 280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: @tablet-width) {
    width: 728px;
  }

  @media (min-width: @desktop-width) {
    width: 1400px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 33px;
    margin: 0 auto;
  }
}

.footer__wrapper-group-1 {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;

  @media (min-width: @tablet-width) {
    padding-top: 42px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    width: 318px;
  }
}

.footer__logo {
  outline: 5px solid rgba(13, 0, 255, 0.8);
  outline-offset: -5px;
  display: flex;
  align-items: center;

  @media (min-width: @desktop-width) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer__logo-img {
  width: 82px;
  height: auto;

  @media (min-width: @tablet-width) {
    width: 170px;
    height: auto;
  }
}

.footer__logo-text {
  display: none;

  @media (min-width: @desktop-width) {
    display: flex;
    padding: 0;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 50px;
  }
}

.footer__social {
  outline: 5px solid rgba(255, 221, 0, 0.8);
  outline-offset: -5px;
}

.footer__social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 160px;
}

.footer__social__icon {
  padding: 10px;
  display: flex;
}

.footer__wrapper-group-2 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 41px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    width: 1000px;
    margin-left: auto;
  }
}

.footer__eshop {
  outline: 5px solid rgba(34, 255, 0, 0.8);
  outline-offset: -5px;
}

.footer__media {
  outline: 5px solid rgba(255, 153, 0, 0.8);
  outline-offset: -5px;
}

.footer__eshop-title,
.footer__media-title,
.footer__contacts-title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #7859cf;
  padding: 0;
  margin: 0;
  padding-bottom: 20px;
}

.footer__eshop-list,
.footer__media-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__eshop-item,
.footer__media-item {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
  color: #333333;
  padding-bottom: 16px;
}

.footer__contacts {
  outline: 5px solid rgba(255, 0, 217, 0.8);
  outline-offset: -5px;
}

.footer__address-text,
.footer__phone-text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.footer__eshop-wrapper,
.footer__media-wrapper,
.footer__contacts-wrapper {
  padding: 20px;
  padding-bottom: 4px;
  padding-left: 0;
}

.footer__copyrights {
  outline: 5px solid rgba(234, 255, 0, 0.8);
  outline-offset: -5px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #bdbdbd;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.footer__copyrights-text {
  margin: 0;
  padding: 0;
}
