.header {
  background-color: #ffffff;
  color: #333333;
  outline: 5px solid rgba(0, 255, 51, 0.8);
  outline-offset: -5px;
  min-width: 320px;
}

.header__wrapper {
  width: 300px;
  margin-left: auto;
  display: flex;

  @media (min-width: @tablet-width) {
    width: 728px;
  }

  @media (min-width: @desktop-width) {
    width: 1360px;
    margin: 0 auto;
  }
}

.header__wrapper-logo-text {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.header__menu {
  display: flex;
  margin-left: auto;
  position: relative;
}

.header__menu-list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    width: 399px;
    display: flex;
  }

  @media (min-width: @desktop-width) {
    width: 465px;
    display: flex;
    justify-content: space-between;
    padding-right: 162px;
  }
}

.header__menu-item {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding: 32px 20px;
  }

  @media (min-width: @desktop-width) {
    padding: 32px 20px;
  }
}

.header__menu-item--active {
  color: #7859cf;
}

.header__menu-actions {
  display: flex;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    order: 2;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.header__menu-login,
.header__menu-basket {
  background-color: #ffffff;
  border: none;

  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
  }
}

.header__menu-toggle {
  background-color: #ffffff;
  border: none;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

/* Бургерное меню - верхняя палочка
остальные две палочки внизу - тенями**/
.header__menu--closed {
  content: "";
  position: absolute;
  top: -1px;
  right: -2px;
  width: 22px;
  height: 4px;
  background-color: #81b3d2;

  @media (max-width: @mobile-width-only) {
    .header__menu--closed .header__menu-item {
      display: none;
    }
  }

  .header__menu--nojs .header__menu-toggle {
    display: none;
  }

  .header__menu--nojs .header__menu-item {
    display: block;
  }
}

/*КНОПКА*/
.header__menu--opened .header__menu-toggle {
  top: 17px;
  right: 19px;

  /*Крестик - двумя палочками*/
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 8px;
    right: -10px;
    width: 36px;
    height: 4px;
    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: fade(#ffffff, 30%);
  }
}


.header__menu-login-img,
.header__menu-basket-img,
.header__menu-toggle-img {
  padding: 20px;
}

.header__menu-login-text {
  display: none;

  @media (min-width: @desktop-width) {
    display: flex;
    text-transform: uppercase;
    padding-right: 20px;
  }
}

.header__logo-img {
  height: 36px;
  padding-top: 12px;

  @media (min-width: @tablet-width) {
    width: 82px;
    height: auto;
    padding-top: 22px;
  }

  @media (min-width: @desktop-width) {
    width: 170px;
    height: auto;
  }
}

.header__logo-text {
  display: none;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    margin: 0;
    align-items: center;
    padding-left: 20px;
  }
}
