.header {
  background-color: #ffffff;
  color: #333333;
  padding: 10px 15px;
  outline: 5px solid rgba(0, 255, 51, 0.8);
  outline-offset: -5px;
  min-width: 320px;
}

.header__menu-item {
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
