.hero {
  background-color: #f3ebe1;
}

.hero__content-title {
  font-size: 56px;
  line-height: 80px;
  font-weight: 700;
  color: #333333;
}

.hero__content-description {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  color: #333333;
}
