.price__content {
  display: flex;
}

.price__wrapper {
  display: flex;
  justify-content: space-between;
}

.price {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  color: #333333;
  display: flex;
  align-items: center;
}

.price--old {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #7859cf;
  text-decoration: line-through;
}

.price__content-numbers {
  width: 97px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  @media (min-width: @desktop-width) {
    align-items: start;
    justify-content: flex-start;
  }
}
