.products {
  outline: 5px solid rgba(136, 0, 255, 0.8);
  outline-offset: -5px;
}

.products__list {
  list-style-type: none;
}

.products__item {
  outline: 5px solid rgba(255, 238, 0, 0.8);
  outline-offset: -5px;
  background-color: #ffffff;
}

.products__item-title {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
}

.products__item-description {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
